body {
  font-family: 'Roboto', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menupage aside {
  position: fixed;
  width: 20%;
  top: 0;
  left: 0;
}
.menupage aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menupage aside ul li {
  cursor: pointer;
  padding: 10px 20px;
}
.menupage aside ul li.active {
  border-left: 4px solid red;
}
.menupage aside ul li:hover {
  background-color: lightgray;
}
.menupage main {
  position: absolute;
  width: 80%;
  left: 20%;
  top: 0%;
  padding: 20px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}
header h1 {
  margin: 0;
  padding: 30px 150px 30px 100px;
}
header .avatar {
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
header .logo {
  height: 50px;
  position: absolute;
  left: 25px;
  top: 25px;
}
input[type=search] {
  display: block;
  width: 100%;
}
.toy-thumb {
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.save,
.spend,
.give {
  text-align: center;
  float: left;
  height: 100%;
}
.give {
  background-color: #eb7d17;
}
.spend {
  background-color: #b6c320;
}
.save {
  background-color: #1281ab;
}
.handle1,
.handle2 {
  z-index: 1;
  width: 20px;
  margin: 0 -10px;
  height: 100%;
  float: left;
  cursor: ew-resize;
}
.wrapper {
  position: relative;
  width: 100%;
}
.wrapper svg {
  width: 100%;
  display: block;
}
.wrapper > div,
.wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper i {
  position: absolute;
  top: -10px;
  right: -10px;
  -webkit-text-stroke: 5px #b6c320;
  color: white;
  font-size: 12em;
}
.wrapper > img {
  /* This needs to be equal to strokeWidth */
  padding: 8%;
}
.wrapper > img {
  border-radius: 50%;
}
.wrapper p {
  font-size: 400%;
}
* {
  box-sizing: border-box;
}
