@import "variables.less";

body {
	font-family: 'Roboto', sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menupage{
	aside {
		position: fixed;
		width: 20%;
		top: 0;
		left: 0;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				cursor: pointer;
				padding: 10px 20px;
				&.active {
					border-left: 4px solid red;
				}

				&:hover {
					background-color: lightgray;
				}
			}
		}
	}

	main {
		position: absolute;
		width: 80%;
		left: 20%;
		top: 0%;
		padding: 20px
	}
}

h1,h2,h3,h4,h5 {
	 font-weight: 100;
}

header {
	h1 {
		margin: 0;
		padding: 30px 150px 30px 100px;
	}
	.avatar {
		height: 100px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.logo {
		height: 50px;
		position: absolute;
		left: 25px;
		top: 25px;
	}
}

input[type=search] {
	display: block;
	width: 100%;
}

.toy-thumb {
	width: 100%;
	border-radius: 100%;
	overflow: hidden;
}
.save,
.spend,
.give {
	text-align: center;
    float: left;
    height: 100%;
}
.give {
    background-color: @orange;
}
.spend {
    background-color: @green;
}
.save {
	background-color: @blue;
}
.handle1,
.handle2 {
	z-index: 1;
	width: 20px;
	margin: 0 -10px;
	height: 100%;
	float: left; 
	cursor:ew-resize;
}

.wrapper {
    position: relative;
    width: 100%;


    svg {
        width: 100%;
        display: block;
    }

    > div,  
    > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    i {
        position: absolute;
        top: -10px;
        right: -10px;
        -webkit-text-stroke: 5px @green;
        color: white;
        font-size: 12em;
    }

    > img {
        /* This needs to be equal to strokeWidth */
        padding: 8%;
    }

    > img {
        border-radius: 50%;
    }

     p {
        font-size: 400%;
    }
}

* {
	box-sizing: border-box;
}